.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

#Secret
#1/ToDoApp/src/backend/config/config.js


# Nuxt build
.nuxt

# Nuxt generate
dist